<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
    <head>
        <title>Enter a recipe name.</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        
        <H1>Enter recipe</H1>
        <form action='addNewRecipe' method='get'>
            <textarea name='content' cols='40' rows='20'>
                <%= mall %>
            </textarea>
            <br>
            <input type='submit' value='Save recipe'>
        </form>
        <br>
        <br>
        <br>
        <br>
        <H1>Add from file instead</H1>
        <p>Choose recipe to add:</p>
        <form action='parseRecipe' method='get'>
            <select name='recipeName'>
                <% files.forEach(function(file) { %>
                <option value="<%= file %>"><%= file %></option>
                <% }); %>
            <select>
            <input type='submit' value='Go get'>
        </form>
        <br>
        <form action='addAllRecipes' method='get'>
            <input type='submit' value='Add all new recipes'>
        </form>
        <br>
        
    </body>
</html>
