<!DOCTYPE html>
<html>
    <head>
        <title>Enter a recipe name.</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <H1>Available recipes</H1>
        <p>Enter a recipe name.</p>
        <form action='parseRecipe' method='get'>
            <select name='recipeName'>
                <% files.forEach(function(file) { %>
                <option value="<%= file %>"><%= file %></option>
                <% }); %>
            <select>
            <input type='submit' value='Go get'>
        </form>
        <br>
        <form action='addAllRecipes' method='get'>
            <input type='submit' value='Add all new recipes'>
        </form>
    </body>
</html>
