<!DOCTYPE html>
<html>
    <head>
        <title>Enter a recipe name.</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <p>Enter a recipe name.</p>
        <form action='parseRecipe' method='get'>
            <input type='text' name='recipeName' value='Recipe name'>
            <input type='submit' value='Go get'>
        </form>
    </body>
</html>
