<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h3>Recipies</h3>
    <ul>
        <% recipeslist.forEach(function(recipe) { %>
            <li><%= recipe.tip %></li>
        <% }); %>
    </ul>

    <a href="thelist">Search recipe / Sök recept</a> </br>
    <a href="readRecipe">Display a recipe line by line from .txt</a> </br>
    <a href="getRecipe">Add recipe to database</a> </br>
    <a href="users">My Page. Nothing here yet</a> </br>
  </body>
</html>
