<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="thelist">List recipes / Alla recept</a> </br>
    <form action="viewRecipe" method="get">
      <input type="text" name="recipe">
      <input type="submit" value="Search">
    </form>
    </br>
    <a href="addRecipe">Add recipe to database</a> </br>
  </body>
</html>
