<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="readRecipe">Import Recipe from .txt</a>
    </br>
    <a href="users">My Page</a>
  </body>
</html>
