<!DOCTYPE html>
<html>

  <head>
    <title>Recipies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h3>Recipies</h3>
    <form action="viewRecipe" method="get">
      <input type="text" name="recipe">
      <input type="submit">
    </form>
    <ul>
        <% recipeslist.forEach(function(recipe) { %>
            <li> <a href="viewRecipe?recipe=<%= recipe.title %>"> <%= recipe.title %> </a> </li>
        <% }); %>
    </ul>
  </body>

</html>
