<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>

  <head>
    <title>All recipies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h2>Search recipies</h2>
    Search in all recipes:
    <form action="viewRecipe" method="get">
      <input type="text" name="recipe">
      <input type="submit" value="Search">
    </form>
    <ul>
        <% recipeslist.forEach(function(recipe) { %>
            <li> <a href="viewRecipe?recipe=<%= recipe.title %>"> <%= recipe.title %> </a> </li>
        <% }); %>
    </ul>
  </body>

</html>
