<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- WRAPPER -->
    <div id="wrapper">

      <!-- RECIPE INFO-->
      <div id="recipeInfo">
        <h2>Recipe Info</h2>
        <p>
          <strong><span id='recipeInfoName'></span></strong><br/>
          <strong>Ingredients:</strong><br/>
          <output id="ingredientList">
          </output>
        </p>
      </div>
      <!-- /RECIPE INFO-->

      <!-- RECIPE LIST -->
      <h2>Recipe List</h2>
      <div id="recipeList">
        <table>
          <thead>
            <th>Recipe</th>
            <th>Delete</th>
            <th>Edit</th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <!-- /RECIPE LIST -->

      <!-- ADD RECIPE -->
      <h2>Add Recipe</h2>
      <div id="addRecipe">
        <fieldset>
          <input id="inputRecipeName" type="text" size="20" placeholder="Name"/><br/>
          <p id="ingredientList">
          </p>
          <button id="btnAddIngredient" tooltip="Add Ingredient">+</button><br/>
          <button id="btnSaveRecipe">Save Recipe</button>
        </fieldset>
      </div>
      <!-- /ADD RECIPE -->
    </div>
    <!-- /WRAPPER -->
</body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/javascripts/global.js"></script>
</html>
